<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/build/app.css">
        <script src="/build/app.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <a href="/"><h3 class="logo">Enzo Gaudry</h3></a>
                <nav>
                    <ul class="nav_links">
                        <li><a href="{{ path('about') }}">About</a></li>
                    </ul>
                </nav>
                <a class="contact" href="{{ path('mail') }}"><button class="btn">Contact</button></a>
            {% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
